<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>serv1</display-name>
    <servlet-name>serv1</servlet-name>
    <servlet-class>serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv1</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <display-name>red</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv2</display-name>
    <servlet-name>serv2</servlet-name>
    <servlet-class>serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv2</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forwordingserv</display-name>
    <servlet-name>forwordingserv</servlet-name>
    <servlet-class>forwordingserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwordingserv</servlet-name>
    <url-pattern>/forwordingserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forwordedserv</display-name>
    <servlet-name>forwordedserv</servlet-name>
    <servlet-class>forwordedserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forwordedserv</servlet-name>
    <url-pattern>/forwordedserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>forw</display-name>
    <servlet-name>forw</servlet-name>
    <servlet-class>forw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>forw</servlet-name>
    <url-pattern>/forw</url-pattern>
  </servlet-mapping>
</web-app>