<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Ass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServ</display-name>
    <servlet-name>RegisterServ</servlet-name>
    <servlet-class>mypack.RegisterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServ</servlet-name>
    <url-pattern>/RegisterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ1</display-name>
    <servlet-name>LoginServ1</servlet-name>
    <servlet-class>LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ1</servlet-name>
    <url-pattern>/LoginServ1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>disp</display-name>
    <servlet-name>disp</servlet-name>
    <servlet-class>disp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>disp</servlet-name>
    <url-pattern>/disp</url-pattern>
  </servlet-mapping>
</web-app>