<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServ</display-name>
    <servlet-name>FirstServ</servlet-name>
    <servlet-class>FirstServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServ</servlet-name>
    <url-pattern>/FirstServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secondserv</display-name>
    <servlet-name>secondserv</servlet-name>
    <servlet-class>secondserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>secondserv</servlet-name>
    <url-pattern>/secondserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentServ</display-name>
    <servlet-name>StudentServ</servlet-name>
    <servlet-class>StudentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServ</servlet-name>
    <url-pattern>/StudentServ</url-pattern>
  </servlet-mapping>
</web-app>